html,
body {
  /* including the html actually made this work? */
  background-color: #1a1a1a;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.main {
  /* not working? Needs body to have justify etc as well why?*/
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

table {
  border: 1px solid white;
  /* margin-left: auto;
  margin-right: auto; */
}

input[type='button'] {
  width: 100%;
  padding: 20px 40px;
  background-color: #3b5998;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

input[type='text'] {
  padding: 20px 30px;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  border: 2px solid white;
  background-color: #333333;
  color: white;
}
